.sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
    }
     
    .mapContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    }

body {
    color: black;
    background-color: antiquewhite;
}
/* h1 - h6 default  */
h1 {
    font-size: 24px;
}

h2 {
font-size: 24px;
}

h3 {
    font-size: 20px;

}

.landing-page-content-div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}

.landing-page-title {
    font-size: 74px;
    padding-bottom: 28px;
}

.landing-page-subtitle {
    font-size: 29px;
    padding-bottom: 28px;
}

.landing-page-form-boxes{
    display: flex;
    padding-bottom: 10px;
    align-items: center;
}

.mapbox-directions-instructions-wrapper {
    display: none;
}



.background-div {
    background-image: url('Images/rd-trip-background.jpg');
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
}

.mapboxgl-ctrl-top-left {
    background-color: rgba(228, 171, 29, 0.7);
    
}

#dashboard-container{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    border:cornflowerblue dashed 4px;
    padding: 20px;
    background-color: antiquewhite;
    
}

#directions-list-div {
    margin: 20px;
    width: 20vw;
    height: 400px;
    border: black solid 3px;
}

#trip-info-div{
    width: 20vw;
    height: 400px;
    border: black solid 3px;
    margin: 20px;
}

.column-left-dashboard {
    float: left;
}

.column-right-dashboard {
height: 800px;
}

.address-confirm-list {
    font-size: 11px;
    color: black;
    background-color: whitesmoke;
    height: auto;
    width: auto;
    display: flex;
}

.address-confirm-item {
    margin-top: 4px;
}

.waypoints-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

/* .landing-form-elements {
} */

.directions-list {
    overflow:scroll;
    height: 250px;
}

/*SVG BORDER ANIMATION BY ZACH SAUCIER CODEPEN  */ 
.svg-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
	  margin: 0 auto;
  width: 320px;  
}
.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: #19f6e8;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
  font-family: 'Roboto Condensed';
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 8px;
  color: #fff;
  top: -48px;
  position: relative;
}
.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}