.leaflet-container {
    width: 50%;
    height: 706px;
    float:right;
}

/* h1 - h6 default  */
h1 {
    font-size: 24px;
}

.landing-page-content-div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}

.landing-page-title {
    font-size: 74px;
    padding-bottom: 28px;
}

.landing-page-subtitle {
    font-size: 29px;
    padding-bottom: 28px;
}

#display-block {
    display: flex;
    padding-bottom: 10px;
    align-items: center;
}

.background-div {
    background-color: cadetblue;
    background-image: url('Images/rd-trip-background.jpg');
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
}

#dashboard-container{
    background-color: bisque;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    
}

#directions-list-div {
    width: 20vw;
    height: 400px;
    background-color: cornflowerblue;
}

#trip-info-div{
    width: 20vw;
    height: 400px;
    background-color: red;
}

.flex-column {
    display: flex;
    flex-direction: column;
}